@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: #E5E8E8;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

a{
    cursor: pointer;
}