/* h1 {
    color: #069;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


h3 {
    color: #069;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #069;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


button{
    border-radius: 16px;
    border: 1px solid #069;
    background: #17A1E6;
    box-shadow: 6px 4px 7px 0px rgba(105, 102, 0, 0.25);
    color: #069;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 17px;
}

input {
    border-radius: 16px;
    border-right: 1px solid #696600;
    border-bottom: 1px solid #696600;
    border-top: none;
    border-left: none   ;
    background: rgba(230, 223, 19, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 19px;
    color: #696600;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input::placeholder{
    color: #C9C670;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 */
